 <p>Create a new Bookmark for: <small><%= @topic.title %></small></P>
 
 
 <div class="row">
   <div class="col-md-8">
   <div class="col-md-8">
       <%= render partial: 'form', locals: { topic: @topic, bookmark: @bookmark } %>
   </div>
   </div>
 </div>