
 <div class="row">
   <div class="col-md-8">
    <img alt="Icon" class="menu_icon preview" src="<%=@preview %>"/>
    <iframe src="https://www.espn.com"></iframe>
     <small class="underline">
       submitted <%= time_ago_in_words(@bookmark.created_at) %> ago 
     </small>
     <br>
     <% if policy(@bookmark).update? %>
      <%= link_to "Edit Bookmark", edit_bookmark_path(@bookmark.id), class: 'btn btn-success' %>
     <% end %>
     <%= link_to "Exit", topic_path(@bookmark.topic_id), class: 'btn btn-warning' %>
     <br>
   </div>
 </div>