<div class="container">
    <% @user = current_user %>
    <% if @user != nil %>
      <p>Welome to Blocmarks <%= @user.user_name %></p>
      
      <div class="col-md-8">
        
        <p>Would you like to create a new topic?</p>
        
        <%= link_to "Create a new Topic",  new_topic_path, class: 'btn btn-success' %>

        <p>Would you like to view your Topics and Bookmarks?</p>
        
        <%= link_to "View all Topics and Bookmarks", topics_path, class: 'btn btn-success' %>
    

    <% else %>
      <div class="col-md-6">
        <p>Would you like to login or sign up?</p>
      </div>  
    <% end %>
</div>
